<%- include ../../partials/header.ejs  %>  
<%- include ../../partials/navbar.ejs  %>  
<%- include ../../partials/sidebar.ejs  %> 
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Video</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/video">Video</a></li>
                  <li class="breadcrumb-item active">Tambah</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Form Create Video</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form action="/video/create" method="POST">
                            <div class="card-body">  
                              <div class="form-group">
                                <div class="form-group">
                                    <label>Video</label>
                                    <select class="form-control select2bs4" name="partvideo_id" style="width: 100%;" required>
                                      <option>Pilih Part Video</option>
                                        <% partvideo.forEach(partvideo=>{%>
                                        <option value="<%= partvideo._id %>">
                                            <%= partvideo.title %> 
                                        </option> 
                                        <% }) %>
                                    </select>
                                  </div>
                                </div>       
                              <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" name="title" class="form-control" id="title" required>
                              </div>                            
                              <div class="form-group">
                                <label for="link">Link</label>
                                <input type="text" name="link" class="form-control" id="link" required>
                              </div>                            
                              <div class="form-group">
                                <label for="order">Order</label>
                                <input type="number" name="order" class="form-control" id="order" required>
                              </div>
                              <div class="form-group">
                                <label>Course</label>
                                <select class="form-control select2bs4" name="course_id" style="width: 100%;" required>
                                  <option>Pilih Course</option>
                                    <% course.forEach(course=>{%>
                                      <option value="<%= course._id %>"><%= course.title %></option> 
                                    <% }) %>
                                </select>
                              </div>
                            </div>                             
                              <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Tambah</button>
                              </div>
                            </div>
                        </form>
                    </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
</div>
<%- include ../../partials/footer.ejs  %> 
<%- include ../../partials/js.ejs  %> 